# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
# .gitignore
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore heavy assets (migrated to R2)
public/models/
public/videos/
public/sounds/
public/jsons
public/image/dioramas
# Ignore tout dans public/icons/dioramas
public/icons/dioramas/*

# Mais ne pas ignorer le dossier UI
!public/icons/dioramas/UI/

# Et ne pas ignorer son contenu
!public/icons/dioramas/UI/**

# src/content/webdioramas

# Service Worker généré
public/sw.js
public/sw.js.map
public/swe-worker-*.js



